.Row {
  margin-left: 20px;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 0.4s;
}
.row-poster:hover {
  transform: scale(1.08);
}

.row-largePoster {
  max-height: 250px;
}
.row-largePoster:hover {
  transform: scale(1.08);
}

.Row:last-child {
  margin-bottom: 20px;
}

.error {
  display: grid;
  place-items: center;
  height: 100px;
}

@media (max-width: 415px) {
  .Row {
    margin-left: 10px;
  }
  .row-posters {
    padding: 20px 5px;
  }
}